<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />

  <title>Coin Market</title>

  <link rel="icon" href="/img/logo.png">
<link href="/js/bundle.c92cfca85aa555d859bf.css" rel="stylesheet"><script type="text/javascript" src="/js/bundle.09973a49c941a1407e99.js" defer></script></head>
<body>
	{{{ body }}}
</body>
</html>